* {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-image: url(../images/bg.jpg);
}

#wrapper {
    width: 800px;
    min-height: 650px;
    margin: auto;
    background-image: url(../images/bgcontainer.jpg);
    background-size: 800px;
}

#wrapper #menu {
    min-height: 75px;
    background-image: url(../images/bgcontent.gif);
    background-repeat: no-repeat;
    background-size: 747px;
    margin-left: 26px;
}

#wrapper #menu_menu {
    width: 400px;
    margin: auto;
}

#wrapper #menu ul {
    list-style-type: none;
}

#wrapper #menu ul li {
    text-align: center;
}

#wrapper #menu ul li a {
    float: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    margin-top: 30px;
    display: block;
    margin-left: 20px;
    color: #444;
}

#wrapper #top-image {
    width: 800px;
    min-height: 300px;
    background-image: url(../images/bgcontainer.jpg);
    background-repeat: no-repeat;
    background-size: 800px;
}

#wrapper #top-image #image img {
    width: 700px;
    margin-left: 60px;
    margin-top: 30px;
}

#wrapper #content-master {
    background-image: url(../images/bgcontainer.jpg);
    background-repeat: no-repeat;
    background-size: 800px;
    width: 730px;
}

#wrapper #content-master #content {
    min-height: 650px;
    padding-left: 50px;
}

#wrapper #content-master #content h1 {
    color: #444;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
}

#wrapper #content-master #content h1::first-letter {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    display: block;
    float: left;
    font-size: 4em;
    color: #444;
    line-height: 35px;
}

#wrapper #content-master #content h2 {
    font-family: 'Times New Roman', Times, serif;
    color: #444;
    margin-left: 54px;
}

#wrapper #content-master #content p {
    font-family: 'Times New Roman', Times, serif;
    color: #444;
}

#wrapper #content-master #content p a {
    font-family: 'Times New Roman', Times, serif;
}

#wrapper #content-master #content #gambar_map {
    width: 230px;
    height: auto;
    border: dashed #444 2px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

#wrapper #content-master #content .divider {
    margin: 20px auto;
    width: 560px;
}

#wrapper #content-master #content .divider img {
    height: 20px;
}

#wrapper #content-master #content blockquote {
    background: url(../images/quote.gif) no-repeat;
    color: #555;
    font: normal 1.4em serif;
    padding-left: 22px;
}

#wrapper #footer-master {
    min-height: 50px;
    background-image: url(../images/bgfooter.gif);
    background-repeat: no-repeat;
    background-size: 744px;
    margin-left: 28px;
}

#wrapper #footer-master #footer_isi {
    color: #444;
    margin: auto;
    margin-left: 280px;
    padding-top: 20px;
}